:root{
    padding: 10px 20px;
    background-color: #181818;
}
*{
    margin: 0;
    padding: 0;
}

.bor:hover {color: #dd7cd8 ;}
.bor{color: #ffffff;}


.container{
    width: 100%;
    height: 500px;
    display: flex;
}
    .container .aside{
    position: relative;

    width: 20%;
    height: 500px;
    background-color: #000000;
    }
    .container img {    height: 50px;
    }
    .container .aside .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: white;
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
    }


    .container .aside .menu a:hover{
    color: #76357c;
    }




.perfil{
    background-color: #000000;
    padding: 25px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    color: #dd7cd8;
}
.titulo2{font-size: 45%;
    margin-left: 50px;
}

.perfil .circulo{
    background-color: #333333;
    border-radius: 45%;
    width: 28px;
    height: 28px;
    margin-left: 45%;
    /*justify-content: center;
    align-items: center;
        float: right;
    
*/
}
.perfil .circulo img{    width: 58px;
    height: 58px;
    border-radius: 50%;

}
  
div.contenedor_cancion {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(#020202,#91348c);
    width: 100%;
    height: 100%;
    display: flex;
/*    flex-wrap: wrap;
*/


    border-radius: 10px;

}
div.cancion {
    color: #ffffff;
    flex-grow: 1;
    align-items: center;
    flex-basis: 200px;

    border: #000000 solid 3px;
    
    cursor: pointer;
}
div.cancion img {
    height: 100px;
}
.primero{
    border: 20px #d9d9d9 solid;
    border-radius: 75px;
    background-color: #284b63;
    padding: 20px;
    flex-basis: 200px;
    height: 100px;
    
}

.cancion a{color: #dd9ed1;}
.container .footer{
    background: var(--fondo);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: var(--padding);
    border-top: 1px solid #282828;
    color: #ffffff;
}

a{margin: 5px;}
 .footer .progreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
}
 .footer .progreso .barra_progreso{
    width: 40%;
    height: 35px;
    margin: 10px;
}

.izquierdo{color: #ffffff;
}
.derecho{color: #ffffff;
}
.medio{display: flex;
}

.letra{border: #ece6ec 5px;
    border-style: inset;
    margin: 10px;

    background: linear-gradient(#020202,#8950f1);
    padding: 15px;
    color: #fff;}
.persona{border: #ece6ec 5px;
    border-style: inset;
    margin: 10px;

    background: linear-gradient(#020202,#8950f1);
    padding: 15px;
    color: #fff;
}
.general{display: flex;
flex-direction: column;
}